.auth-forms {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    position:absolute;
    top:70px;
  }
  
  
  
  .box {
   background-image: url('https://img.freepik.com/free-vector/dark-black-background-design-with-stripes_1017-38064.jpg?w=1060&t=st=1727705824~exp=1727706424~hmac=d082a9ebe5ddefc5eb174f22865d782bf72c837b95ebc7797fc9bd30e2d95060'); 
   background-size: cover;
   min-height: 100vh;
  }

  input {
    padding: 5px;
    width: 100%;
    display: block;
   
    background-color: transparent; /* Make the background transparent */
    border: none !important; /* Remove default borders */
    border-bottom: 2px solid #ccc !important; 
    transition: border-color 0.3s, box-shadow 0.3s; /* Smooth transition */
  }
  
  input:focus {
    outline: none; /* No default outline */
    border-bottom: 2px solid #007bff !important; /* Change bottom border color on focus */
  }
  
  /* Change only the bottom border color and add glowing effect on hover */
  input:hover {
    border-bottom: 2px solid #007bff !important; /* Change bottom border color on hover */
    box-shadow: none; /* Remove shadow for a clean look */
  }
  
  /* Optional: Style for invalid feedback */
  .invalid-feedback {
    display: none; /* Ensure feedback is visible */
  }

  label{
    color: rgb(104, 112, 119) !important;
  }


 
  .button-group {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center the buttons */
    margin-top: 20px; /* Space above the button group */
  }
  
  .btn-submit {
 
    padding: 10px; /* Padding for the button */
    font-size: 1.1rem; /* Slightly larger font size */
    border-radius: 5px; /* Rounded corners */
  }
  
  .toggle-form {
    text-align: center; /* Center the text */
    margin-top: 10px; /* Space above the text */
  }
  
  .btn-link {
    color: #007bff; /* Link color */
    text-decoration: underline; /* Underline for emphasis */
    cursor: pointer; /* Pointer cursor */
    margin-left: 5px; /* Space between text and button */
  }
  
