body {
  margin: 0;
  font-family: Arial, sans-serif;
  position: relative;
  background: red;
}
.overlay {
  /* Cover the entire viewport */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Black with 0.5 opacity */
  z-index: -1; /* Minimum z-index */
  
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.users-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
}
.users-list {
  list-style-type: none;
  padding: 0;
}
.user-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0;
  border-bottom: 1px solid #ccc;
}

.add-friend-btn {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.add-friend-btn:hover {
  background-color: #0056b3;
}

.three-dots {
  cursor: pointer;
  font-size: 1.5rem;
  color: white;
}

